body {
  margin: 0px;
  font-family: "Times New Roman", Times, serif;
  background-color: lightgoldenrodyellow;
}

#wrapper {
  margin: 20px;
  padding: 25px;
  border: solid black 2px;
  border-radius: 30px;
  background-color: blanchedalmond;
}

#course-search {
  border-radius: 30px;
}

#result > div {
  margin-top: 20px;
  border: solid black 1px;
  border-radius: 20px;
  padding: 6px;
  background-color: lightgrey;
}

.done {
  border: black 1px solid;
  border-radius: 7px;
  background-color: lightgreen;
  display: grid;
  place-items: center;
  font-size: 14px;
}

.notdone {
  border: black 1px solid;
  border-radius: 7px;
  background-color: white;
  display: grid;
  place-items: center;
  font-size: 14px;
}

#resetButton {
  font-family: monospace;
  font-style: oblique;
}

header {
  font-family: monospace;
  font-size: larger;
  text-align: center;
  margin: 30px;
  border: solid black 2px;
}

#students {
  margin: 7px;
  gap: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

h3 {
  margin: 7px;
  padding-left: 10px;
}

h4 {
  margin-bottom: 10px;
  padding-left: 10px;
}

#responsibleteacher {
  background-color: lightcoral;
  border-radius: 7px;
  border: black solid 1px;
}

#teachers {
  border: black solid 2px;
  background-color: white;
}

#findteachers {
  margin: 20px;
}

u {
  font-size: 15px;
}

.darkMode {
  filter: invert(1) hue-rotate(28deg);
  background-color: black;
}
