body {
  margin: 0px;
  font-family: "Times New Roman", Times, serif;
  background-color: lightgoldenrodyellow;
}

#wrapper {
  margin: 20px;
  padding: 25px;
  border: solid black 2px;
  border-radius: 30px;
  background-color: blanchedalmond;
}

#student-search {
  border-radius: 30px;
}

#result {
  display: grid;
  border: solid black 0.5px;
}

.done {
  border-radius: 7px;
  background-color: lightgreen;
}

.notdone {
  border-radius: 7px;
  background-color: lightcoral;
}

#resetButton {
  font-family: monospace;
  font-style: oblique;
}

header {
  font-family: monospace;
  font-size: larger;
  margin: 10px;
}

#courses {
  margin: 7px;
  gap: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

h3 {
  padding: 10px;
}
